
.headerBar{
    width: 100%;
    background-color: aquamarine;
    overflow: auto;
}

.headerBar svg {
    float: left;
    width: 33%;
    text-align: center;
    padding: 20px 0;
    transition: all 0.3s ease;
    color: white;
    font-size: 36px;
  }