.headerBar{
    width: 100%;
    background-color: #0F1111;
    overflow: auto;
    display: flex;
}

.headerBar svg {
    width: 33%;
    text-align: center;
    transition: all 0.3s ease;
    font-size: 36px;
}

.barLeft{
    width: 100%;
    height: 100%;
    float: left;
    margin-top: 40px;
}

.barCenter{
    width: 100%;
    float: left;
}

.barRight{
    width: 100%;
    height: 100%;
    float: right;
    margin-top: 35px;
}
