.headerBar{
    width: 100%;
    background-color: #0F1111;
    overflow: auto;
    display: flex;
}

.headerBar svg {
    width: 40%;
}

.barLeft{
    width: 15%;
    height: 100%;
    float: left;
    margin-top: 40px;
    text-align: left;
    margin-left: 30px;
}

.barCenter{
    width: 30%;
    float: left;
    text-align: center;
}

.barRight{
    width: 80%;
    height: 100%;
    float: right;
    margin-top: 35px;
    margin-right: 100px;
    text-align: center;
}
