.owl-nav-list {
    list-style-type: none;
    padding-left: 10px;
}

.owl-nav-item {
    padding: 10px;
}

.owl-nav-item a {
    padding: 10px;
    font-size: 18px;
    font-weight: 600;
}

.owl-nav-item a:hover {
    color: var(--light-color-primary) !important;
}

.dark-theme .owl-nav-item a{
    color: var(--dark-text-primary);
    text-decoration: none;
    
}

.light-theme .owl-nav-item a{
    color: var(--light-text-primary);
    text-decoration: none;
}