.tab {
    list-style: none;
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tab-link {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.tab-link:hover {
    background-color: #ddd;
}

.tab-link.active {
    background-color: #ccc;
}

.container {
    display: inline-block;
    width: 100%;
}

.container ul {
    position: relative;
    list-style: none;
    width: 90%;
    left: 50%;
    margin-left: -45%;
}

.container li {
    width: 192px;
    height: 256px;
    background-color: #3a3a3a;
    display: block;
    margin: 10px;
    float: left;
    border-radius: 8px;
    transition: 0.2s ease;
}

.container li:hover {
    -webkit-box-shadow: 0px 9px 30px -4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 30px -4px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 30px -4px rgba(0, 0, 0, 0.75);
}

.dark-theme .owl-tab-button {
    color: var(--dark-text-primary)
}

.light-theme .owl-tab-button {
    color: var(--light-text-primary)
}

.owl-tab-navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.owl-tab-button {
    background-color: transparent;
    border: none;
    font-size: 16px;
    padding: 5px 10px;
    margin: 5px;
}

.owl-tab-navigation li.active .owl-tab-button, 
.owl-tab-navigation .owl-tab-button:focus {
    color: var(--light-color-primary);
    border-bottom: 2px solid var(--light-color-primary);
    outline:none;
}

.owl-tab-list {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.owl-tab-list::-webkit-scrollbar {
    display: none;
}