form {
  display: inline-flex;
}

form input[type="text"] {
  width: 400px;
  height: 32px;
  border: 1px solid #ccc;
  border-radius: 8px 0px 0px 8px;
}

form button {
  height: 36px;
  border: 1px solid #ccc;
  background-color: orange;
  border-radius: 0px 8px 8px 0px;
}

form button[disabled] {
  background-color: lightgray;
}