.owl-detail-view {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 500px;
    margin: auto;
}

.owl-detail-img {
    width: 150px;
    margin-bottom: 10px;
}

.owl-detail-title {
    margin: 5px;
    font-size: 25px;
}

.owl-detail-sub-title {
    margin: 5px;
    font-size: 18px;
}

.owl-detail-rating-like-box {
    display: flex;
}

.owl-detail-description {
    margin: 10px 5px;
    font-size: 16px;
}

.owl-detail-button{
    background-color: transparent;
    border: 2px solid var(--light-color-primary);
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    margin: 10px
}

.owl-detail-button:hover {
    background-color: var(--light-color-primary);
    color: var(--dark-text-primary);
}

.dark-theme .owl-detail-button {
    color: var(--dark-text-primary);
}

.light-theme .owl-detail-button {
    color: var(--light-text-primary);
}